/* Resets */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html{
 font-size: 15px;
}
button{
 outline: none;
 border: 1px solid var(--clr-secondary);
}
a{
 text-decoration: none;
 
}
ul,
li{
 list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
 font-family: var(--ff-secondary);
}




/* Utilities */
.flex{
 display: flex;
}
.center-child{
 display: flex;
 align-items: center;
 justify-content: center;
}



/* -------------- */
body{
 font-family: var(--ff-primary);
 min-height: 100vh;
 position: relative;
}
.logo{
 font-size: 32px;
}
.wrap{
 width: 90%;
 margin: 0 auto;
}
nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-inline: .8rem;
 position: sticky; 
 top: 0;
 z-index: 999;
 background: var(--clr-primary);
}
.nav_links{
 display: flex;
 align-items: center;
 gap: 20px;
/* display: none; */
}
.nav_link a{
 color: var(--clr-secondary);
}
.nav_link:last-child{
 margin-right: 2rem;
}
.dropdown_menu{
 padding-top: 4px;
 position: absolute;
 right: 5%;
}
.intro{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 90vh;
}
.intro_text{
 margin: 0 auto;
 text-align: center;
}
.intro_text h1{
 font-size: 4rem;
 margin-bottom: 1.4rem;
}
.highlight{
 color: var(--clr-accent);
}
.intro_description{
 color: var(--clr-secondary-100);
 line-height: 1.4;
 margin-bottom: 2rem;
 font-size: 17px; 
}
.input_wrap{
 border: 1px solid var(--clr-secondary);
/* padding: .3rem .4rem; */
 width: 100%;
 display: flex;
/* justify-content: space-around;*/
 align-items: center;
 box-shadow: var(--box-shadow);
 margin-bottom: 3rem;
 
}
.input_wrap > div{
 height: 100%;
 flex: 3;
 display: flex;
 justify-content: center;
 gap: 2px;
}
label{
 text-align: center;
 padding: .3rem;
}
label .notif-icon{
 font-size: 18px;
 transform: translateY(3px);
 color: hsla(0, 0%, 0%, 0.7);
}
input[type="email"] {
  padding-top: .5rem ;
  padding-bottom: .2rem;
  padding-left: .2rem;
  border: none;
  background-color: white;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  transition: border-color 0.3s ease;
  width: 85%;
 /*flex: 2;*/
}
input[type="email"]::placeholder{
 color: hsla(0, 0%, 0%, 0.3);
}
input:focus {
 border: transparent;
}
.sign_up-btn{
 flex: 1;
 padding: .6rem 1rem;
 font-family: var(--ff-primary);
 border: none;
 background: var(--clr-accent);
 transition: all 0.3s ease;
}
.sign_up-btn:hover{
 background: var(--clr-accent900);
}


.fade-in{
 animation: FadeIn calc(var(--animation-delay) + 200ms) forwards;
}


/* ======== Animations Functions ========*/



@keyframes FadeIn{
 0%{
  opacity: 0;
 transform: translateY(0px);
 }
 100%{
  opacity: 1;
 transform: translateY(-20px);
 }
}




