body{
   font-family: system-ui, Arial; 
   padding:18px;
   line-height:1.4; 
   max-width:900px; 
   margin:0 auto;
   background-color: #05021a;
   color: #d5dfff;
}
h1,h2,footer,.header_nav, p{
   text-align: center;
}
h1{
   font-size:2rem;
   margin:0px;
   padding-bottom: 20px;
}
h2{
   font-size:24px; 
   margin:12px 0 8px;
}
p{
   font-size:14px;
   /* white-space:pre-wrap;  */
}
nav a{
   margin-right:12px; 
   text-decoration: underline;
   padding: 4px;
   color: white;
}
